html
    head
        title= name
    body
        h1= name
        div.form.
        form
            | Podaj swoje imię: 
            input(user='Imię')
            br
            | Podaj swój Email: 
            input(email='Email')
        a(href= url) Zaloguj się